* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: start;
    justify-content: space-evenly;
    padding-top: 40px;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: rgba(0, 0, 0, 0.26) 1px solid;
    box-shadow: inset rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    min-width: 100px;
}

.column1 {
    order: 1;
}

.column2 {
    order: 2;
}

.column3 {
    order: 3;
}

li {
    list-style: none;
}

.none {
    display: none;
}

p {
    padding: 5px;
}

h2 {
    font-size: 1.2em;
}

.btn-task-add {
    width: 18px;
}
.todo-item {
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: aqua inset 0 0 10px;
    padding: 5px;
}