* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat Thin";
    font-weight: 1000;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: start;
    justify-content: space-evenly;
    padding-top: 40px;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: rgba(0, 0, 0, 0.25) 1px solid;
    border-radius: 30px;
    min-width: 100px;
}

.column1 {
    order: 1;
}

.column2 {
    order: 2;
}

.column3 {
    order: 3;
}

li {
    list-style: none;
}

.none {
    display: none;
}